html,body{
	margin:0;
	padding:0;
	font-family:verdana,sans-serif;
	-moz-user-select:none;
    	-webkit-user-select:none;
   	 user-select:none;
	/*overflow:hidden;
	cursor:none;*/
}
body *{
	-moz-user-select:none;
    	-webkit-user-select:none;
   	 user-select:none;
}
a:focus {
	outline: none;
}
.clear{
	clear:both;
}
.hidden{
	display:none;
	visibility:hidden;
}
h1,h2,h3{
	font-family: 'CabinRegular', verdana, sans-serif;
	font-weight:normal;
}
h2{
	text-transform:uppercase;
	font-size:56px;
	line-height:48px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
#container{
	width:1920px;
	height:1080px;
	background-color:#DBE9B6;
	background-image:url(../images/bg.png);
	overflow:hidden;
}
#data{
	display:none;
	visibility:hidden;
}
#left{
	width:340px;
	height:1040px;
	padding:40px 80px 0 80px;
	margin:0 20px 0 50px;
	float:left;
	text-align:center;
background: -moz-linear-gradient(top, rgba(237,145,23,0.5) 0%, rgba(237,145,23,0.5) 25%, rgba(246,230,180,0.5) 72%, rgba(246,230,180,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,145,23,0.5)), color-stop(25%,rgba(237,145,23,0.5)), color-stop(72%,rgba(246,230,180,0.5)), color-stop(100%,rgba(246,230,180,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(237,145,23,0.5) 0%,rgba(237,145,23,0.5) 25%,rgba(246,230,180,0.5) 72%,rgba(246,230,180,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(237,145,23,0.5) 0%,rgba(237,145,23,0.5) 25%,rgba(246,230,180,0.5) 72%,rgba(246,230,180,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(237,145,23,0.5) 0%,rgba(237,145,23,0.5) 25%,rgba(246,230,180,0.5) 72%,rgba(246,230,180,0.5) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(237,145,23,0.5) 0%,rgba(237,145,23,0.5) 25%,rgba(246,230,180,0.5) 72%,rgba(246,230,180,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ed9117', endColorstr='#80f6e6b4',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow: 0px 0px 20px 0px rgba(90, 108, 46, 0.5);
box-shadow: 0px 0px 20px 0px rgba(90, 108, 46, 0.5);
}
#center{
	width:780px;
	height:1080px;
	float:left;
	text-align:center;
}
#left h2{
	color:#EDB715;
}
#left ul{
	list-style-type:none;
	color:#483705;
	margin:80px 0 0 0;
	padding:0;
	font-size:18px;
	line-height:16px;
	font-family: 'CabinRegular', verdana, sans-serif;
}
#left li{
	margin:20px 0px;
}
#logo{
	margin:40px 0 60px 0;
	display:block;
}
#right{
	width:340px;
	height:1040px;
	padding:40px 80px 0 80px;
	margin:0 50px 0 20px;
	float:left;
background: -moz-linear-gradient(top,  rgba(234,87,7,0.5) 0%, rgba(234,87,7,0.5) 25%, rgba(253,156,104,0.5) 75%, rgba(253,156,104,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,87,7,0.5)), color-stop(25%,rgba(234,87,7,0.5)), color-stop(75%,rgba(253,156,104,0.5)), color-stop(100%,rgba(253,156,104,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(234,87,7,0.5) 0%,rgba(234,87,7,0.5) 25%,rgba(253,156,104,0.5) 75%,rgba(253,156,104,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(234,87,7,0.5) 0%,rgba(234,87,7,0.5) 25%,rgba(253,156,104,0.5) 75%,rgba(253,156,104,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(234,87,7,0.5) 0%,rgba(234,87,7,0.5) 25%,rgba(253,156,104,0.5) 75%,rgba(253,156,104,0.5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(234,87,7,0.5) 0%,rgba(234,87,7,0.5) 25%,rgba(253,156,104,0.5) 75%,rgba(253,156,104,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ea5707', endColorstr='#80fd9c68',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow: 0px 0px 20px 0px rgba(90, 108, 46, 0.5);
box-shadow: 0px 0px 20px 0px rgba(90, 108, 46, 0.5);
	text-align:center;
}
#menu{
	list-style-type:none;
	padding:0;
	margin:80px 0 0 0;
	height:740px;
	overflow:hidden;
}
#menu li{
	display:block;
}
#menu li.hidden{
	display:none;
	visibility:hidden;
}
#menu li a{
	margin:40px 0px;
	display:block;
	height:60px;
	line-height:60px;
-webkit-border-radius: 30px;
border-radius: 30px;
	text-decoration:none;
	color:#fff;
background: rgb(142,53,19); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(142,53,19,1) 25%, rgba(190,109,77,1) 75%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(142,53,19,1)), color-stop(75%,rgba(190,109,77,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(142,53,19,1) 25%,rgba(190,109,77,1) 75%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(142,53,19,1) 25%,rgba(190,109,77,1) 75%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(142,53,19,1) 25%,rgba(190,109,77,1) 75%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(142,53,19,1) 25%,rgba(190,109,77,1) 75%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e3513', endColorstr='#be6d4d',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow:  1px 2px 4px 0px rgba(0, 0, 0, 0.4);

        box-shadow:  1px 2px 4px 0px rgba(0, 0, 0, 0.4);
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	font-size:16px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
}
#menu li.selected a{
	background-image:none;
	border-left:4px solid #a35e30;
	border-right:4px solid #a35e30;
	color:#8E3513;
	-webkit-box-shadow:none;
	box-shadow:nonei;
	text-shadow:none;
}
#menu ul{
	display:none;
	visibility:hidden;
}

#submenu{
	color:#fff;
-webkit-border-radius: 20px;

    border-radius: 20px;
	padding:40px 10px;
background: -moz-linear-gradient(top,  rgba(45,55,20,0.6) 0%, rgba(45,55,20,0.6) 25%, rgba(90,108,46,0.6) 75%, rgba(90,108,46,0.6) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,55,20,0.6)), color-stop(25%,rgba(45,55,20,0.6)), color-stop(75%,rgba(90,108,46,0.6)), color-stop(100%,rgba(90,108,46,0.6))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(45,55,20,0.6) 0%,rgba(45,55,20,0.6) 25%,rgba(90,108,46,0.6) 75%,rgba(90,108,46,0.6) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(45,55,20,0.6) 0%,rgba(45,55,20,0.6) 25%,rgba(90,108,46,0.6) 75%,rgba(90,108,46,0.6) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(45,55,20,0.6) 0%,rgba(45,55,20,0.6) 25%,rgba(90,108,46,0.6) 75%,rgba(90,108,46,0.6) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(45,55,20,0.6) 0%,rgba(45,55,20,0.6) 25%,rgba(90,108,46,0.6) 75%,rgba(90,108,46,0.6) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#992d3714', endColorstr='#995a6c2e',GradientType=0 ); /* IE6-9 */
	border:1px solid rgba(40,49,17,0.5);
-webkit-box-shadow: inset 0px 0px 10px 0px rgba(90, 108, 46, 0.75);

        box-shadow: inset 0px 0px 10px 0px rgba(90, 108, 46, 0.75);
}

#submenu h2{
	margin:0 0 25px 0;
	color:#CCDB81;
	font-size:50px;
}

#submenu ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

#submenu li{
	width:33%;
	padding:25px 0;
	display:block;
	float:left;
}

#submenu li a{
	display:block;
	line-height:15px;
-webkit-border-radius: 25px;
border-radius: 25px;
	margin:0 10px;
	padding:17px 0;
	font-size:16px;
background: -moz-linear-gradient(top,  rgba(150,168,63,0.65) 0%, rgba(150,168,63,0.65) 25%, rgba(204,219,129,0.65) 75%, rgba(204,219,129,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(150,168,63,0.65)), color-stop(25%,rgba(150,168,63,0.65)), color-stop(75%,rgba(204,219,129,0.65)), color-stop(100%,rgba(204,219,129,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(150,168,63,0.65) 0%,rgba(150,168,63,0.65) 25%,rgba(204,219,129,0.65) 75%,rgba(204,219,129,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(150,168,63,0.65) 0%,rgba(150,168,63,0.65) 25%,rgba(204,219,129,0.65) 75%,rgba(204,219,129,0.65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(150,168,63,0.65) 0%,rgba(150,168,63,0.65) 25%,rgba(204,219,129,0.65) 75%,rgba(204,219,129,0.65) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(150,168,63,0.65) 0%,rgba(150,168,63,0.65) 25%,rgba(204,219,129,0.65) 75%,rgba(204,219,129,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a696a83f', endColorstr='#a6ccdb81',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow: inset 0px 0px 10px 0px rgba(90, 108, 46, 0.75);

        box-shadow: inset 0px 0px 10px 0px rgba(90, 108, 46, 0.75);
	color:#fff;
	text-decoration:none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
}
#right h2{
	color:#a35e30;
}
