html,body{
	margin:0;
	padding:0;
	font-family:verdana,sans-serif;
	font-size:14px;
	line-height:1.8em;
	-moz-user-select:none;	
    	-webkit-user-select:none;
   	 user-select:none;
	/*overflow:hidden;
	cursor:none;*/
}
body *{
	-moz-user-select:none;	
    	-webkit-user-select:none;
   	 user-select:none;
}
a:focus { 
	outline: none; 
}
.clear{
	clear:both;
}
h1,h2,h3{
	font-family: 'CabinRegular', verdana, sans-serif;
	font-weight:normal;
}
h1{
	font-size:48px;
	line-height:44px;
	margin:40px 0 10px 0;
	color:#71011a;
	font-weight:normal;
}
h2{
	font-size:24px;
	line-height:20px;
	color:#57420b;
	margin:0 0 60px 0;
	font-weight:normal;
}
#container{
	width:1920px;
	height:1080px;
	background-color:#DBE9B6;
	background-image:url(../images/bg.png);
	overflow:hidden;
	position:relative;
	top:0;
	left:0;
}
#data{
	display:none;
	visibility:hidden;
}
#left{
	width:760px;
	height:1080px;
	padding:304px 100px 100px 100px;
	float:left;
	text-align:left;
	background-image:url(../images/logo.png);
	background-position:center 40px;
	background-repeat:no-repeat;
}
#left h1, #left h2{
	text-align:center;
}
#right{
	width:960px;
	height:676px;
	padding:206px 0 0 0;
	float:left;
	text-align:center;
	position:relative;
}
#right img{
	border:1px solid #d0911e;
	position:absolute;
	left:50%;
	margin-left:-300px;
	z-index:1;
}
#right img:nth-child(1){
-webkit-box-shadow: inset 0px 0px 10px 0px rgba(90, 108, 46, 0.75);
        
        box-shadow: inset 0px 0px 10px 0px rgba(90, 108, 46, 0.75);	
}
#back{
	z-index:100;
	position:absolute;
	width:117px;
	height:151px;
	right:60px;
	bottom:60px;
	text-align:center;
}
#back a{
	text-decoration:none;
	color:#fff;
	font-size:24px;
	line-height:24px;
	text-transform:uppercase;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
#back img{
-webkit-border-radius: 20px;
    
    border-radius: 20px;
	padding:25px 12px 25px 11px; 
	margin:10px 0 0 0;
	border:3px solid rgba(0,0,0,0.15);
background: -moz-linear-gradient(top,  rgba(45,55,20,0.6) 0%, rgba(45,55,20,0.6) 25%, rgba(90,108,46,0.6) 75%, rgba(90,108,46,0.6) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,55,20,0.6)), color-stop(25%,rgba(45,55,20,0.6)), color-stop(75%,rgba(90,108,46,0.6)), color-stop(100%,rgba(90,108,46,0.6))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(45,55,20,0.6) 0%,rgba(45,55,20,0.6) 25%,rgba(90,108,46,0.6) 75%,rgba(90,108,46,0.6) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(45,55,20,0.6) 0%,rgba(45,55,20,0.6) 25%,rgba(90,108,46,0.6) 75%,rgba(90,108,46,0.6) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(45,55,20,0.6) 0%,rgba(45,55,20,0.6) 25%,rgba(90,108,46,0.6) 75%,rgba(90,108,46,0.6) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(45,55,20,0.6) 0%,rgba(45,55,20,0.6) 25%,rgba(90,108,46,0.6) 75%,rgba(90,108,46,0.6) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#992d3714', endColorstr='#995a6c2e',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow: inset 0px 0px 10px 0px rgba(90, 108, 46, 0.75);
        
        box-shadow: inset 0px 0px 10px 0px rgba(90, 108, 46, 0.75);
}

